@model IEnumerable<Project_MovieApplication.Models.AccountsAndReviews>


@{
    ViewData["Title"] = "Index";
}



<h2>Customer analytics</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
    <div class="list-group-item">
        <a href="">  @Html.DisplayFor(modelItem => item.UserName)</a>

        <span class="badge" style="float:right;">     @item.CountReviews </span>
    </div>
    }


    </div>