@model IEnumerable<Project_MovieApplication.Models.Review>

<h2>Customer analytics</h2>
<hr />

<div class="list-group">



    <div class="list-group-item">
        <p style="text-align:center; color:#ff5b84;  font-size:16px;  font-weight:600; ">
            Latest comments given
        </p>
    </div>

    @foreach (var item in Model)
    {

        <div class="list-group-item">

            <a href="">@item.Content</a>

            <span class="badge badge-pill badge-success" style="float:right;">@item.ReviewDate</span>
        </div>


    }

</div>

<div class="buttons-analytics">
    <a asp-area="" asp-controller="Analytics" asp-action="Index" class="movie-button-analytics">See the reviewer's statistics</a>
    <a asp-area="" asp-controller="Analytics" asp-action="TopMovies" class="movie-button-analytics">See the most reviewed movies</a>
    
</div>

<div class="empty"></div>